section.color
    div(class="cs-color-toobar")
        div(class="content-nav-bar")
            mat-icon.icon grade
            div(class="content-box-hover login")
                a(href="/contacto") Ayuda
            div.buttonHome
                button(mat-icon-button class="add_alarm")
                    mat-icon.icon alarm
section.contCajas
    div.CardText(class="mat-raiced-button" color="primary")
        mat-card(class="card")
            div(class="card-header")
                .iconImg
                    .icon.izq
                        mat-icon.icon keyboard_arrow_down
                    img.izq(src="https://s3.amazonaws.com/smiledu/public/general/files/logo/logo_sistema.png?0.6163450845142961", alt="")
                button(mat-icon-button class="more_vert")
                    mat-icon.icon more_vert
            div(class="input-container")
                mat-form-field(class="example-full-width")
                    mat-label Usuario
                    textarea(matInput placeholder="Ex. It makes me feel...")
                mat-form-field(class="example-full-width")
                    mat-label Contraseña
                    textarea(matInput placeholder="Ex. It makes me feel...")
                div
                    a(href="#") ¿Has olvidado cómo ingresar?
            div(class="butText")
                div(class="contBusText")
                    button(mat-raised-button color="primary") Ingresar
                    div(class="rayText")
                        div(class="ray")
                            hr
                        div(class="tx ray")
                            p O conectar con
                        div(class="ray")
                            hr
            .logos
                img(src="https://images.vexels.com/media/users/3/137253/isolated/preview/90dd9f12fdd1eefb8c8976903944c026-icono-de-facebook-logo-by-vexels.png", alt="")
                img(src="https://www.freepnglogos.com/uploads/google-chrome-png-logo/google-chrome-logo-png-0.png", alt="")
                img(src="https://img2.freepng.es/20180401/cwe/kisspng-outlook-com-microsoft-outlook-logo-microsoft-offic-outlook-5ac078594dd532.5951870815225631613188.jpg", alt="")
        .Terminos
            .TP
                p Haciendo click en ‘Ingresar’, estoy de acuerdo con <a href="#"> Términos y condiciones </a>, y <a href="#">Política de privacidad</a>
    .banner
        .imBan
            img.imBann.pd(src="https://avantgard3.smiledu.pe/assets/images/login/school-app.png", alt="")    
        .texApp.pd
            .h3App
                h3 Descarga la versión móvil en las mejores tiendas
            .pApp
                p Aplicativo móvil para iOS y Android para mantenerte siempre informado de las noticias de la escuela, avance académico de tus hijos y comunícate con los docentes.
            .imgApp
                a(href="#")
                    img(src="https://avantgard3.smiledu.pe/assets/images/login/googleplay.png", alt="")
                a
                    img(src="https://avantgard3.smiledu.pe/assets/images/login/appstore.png", alt="")

