mat-card(class="container")
    div.contBClose
        button(mat-icon-button class="close")
            mat-icon.icon close
    mat-card-header
        div(mat-card-avatar class="image-container")
            img(mat-carda-image src="https://imagenes.universia.net/gc/net/images/educacion/c/cu/cur/cursos-sobre-programacion.jpg")
    h1 Lorem
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptatum molestiae soluta repellat, officia hic perferendis cupiditate tempore, corporis, natus deserunt maxime. Blanditiis ab mollitia in ullam cupiditate facilis minima.Doloribus fugiat molestias assumenda nam inventore architecto doloremque fuga earum debitis eveniet commodi minus, officia non amet sapiente asperiores quod. Nesciunt, eius. Officiis maiores autem numquam sunt nihil magnam ipsa?Perferendis odit officiis repellat velit dolore, repudiandae reprehenderit vero, doloribus corrupti nesciunt eligendi temporibus nisi quas iste perspiciatis. Repellat ipsam hic rerum possimus odit, nam veniam corrupti placeat aut aliquid.Perspiciatis quo, ipsa qui alias fugit tempore id illum quae voluptatibus atque provident libero dolor, ipsam ipsum commodi, corrupti iusto! Possimus voluptatibus nobis animi, sit repudiandae officia. Accusamus, repellat! Nam!Est, reprehenderit consectetur. Necessitatibus dolore quis debitis omnis nihil ab doloribus repudiandae reprehenderit sed veniam ex, architecto dolor a hic odio nobis delectus, laborum vel. Molestiae optio et sint dolorem.

mat-card(class="container2")
    div(class="div-container-cuadro")
        div(class="cont-imag")
            img(src="https://image.freepik.com/vector-gratis/lenguajes-programacion-establecen-iconos_24877-761.jpg", alt="")
        div(class="cont-botton")
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    div(class="div-container-cuadro")
        div(class="cont-imag")
            img(src="https://image.freepik.com/vector-gratis/lenguajes-programacion-establecen-iconos_24877-761.jpg", alt="")
        div(class="cont-botton")
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    div(class="div-container-cuadro")
        div(class="cont-imag")
            img(src="https://image.freepik.com/vector-gratis/lenguajes-programacion-establecen-iconos_24877-761.jpg", alt="")
        div(class="cont-botton")
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    div(class="div-container-cuadro")
        div(class="cont-imag")
            img(src="https://image.freepik.com/vector-gratis/lenguajes-programacion-establecen-iconos_24877-761.jpg", alt="")
        div(class="cont-botton")
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    div(class="div-container-cuadro")
        div(class="cont-imag")
            img(src="https://image.freepik.com/vector-gratis/lenguajes-programacion-establecen-iconos_24877-761.jpg", alt="")
        div(class="cont-botton")
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    div(class="div-container-cuadro")
        div(class="cont-imag")
            img(src="https://image.freepik.com/vector-gratis/lenguajes-programacion-establecen-iconos_24877-761.jpg", alt="")
        div(class="cont-botton")
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    div(class="div-container-cuadro")
        div(class="cont-imag")
            img(src="https://image.freepik.com/vector-gratis/lenguajes-programacion-establecen-iconos_24877-761.jpg", alt="")
        div(class="cont-botton")
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    div(class="div-container-cuadro")
        div(class="cont-imag")
            img(src="https://image.freepik.com/vector-gratis/lenguajes-programacion-establecen-iconos_24877-761.jpg", alt="")
        div(class="cont-botton")
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    div(class="div-container-cuadro")
        div(class="cont-imag")
            img(src="https://image.freepik.com/vector-gratis/lenguajes-programacion-establecen-iconos_24877-761.jpg", alt="")
        div(class="cont-botton")
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    div(class="div-container-cuadro")
        div(class="cont-imag")
            img(src="https://image.freepik.com/vector-gratis/lenguajes-programacion-establecen-iconos_24877-761.jpg", alt="")
        div(class="cont-botton")
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    div(class="div-container-cuadro")
        div(class="cont-imag")
            img(src="https://image.freepik.com/vector-gratis/lenguajes-programacion-establecen-iconos_24877-761.jpg", alt="")
        div(class="cont-botton")
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    div(class="div-container-cuadro")
        div(class="cont-imag")
            img(src="https://image.freepik.com/vector-gratis/lenguajes-programacion-establecen-iconos_24877-761.jpg", alt="")
        div(class="cont-botton")
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    div(class="div-container-cuadro")
        div(class="cont-imag")
            img(src="https://image.freepik.com/vector-gratis/lenguajes-programacion-establecen-iconos_24877-761.jpg", alt="")
        div(class="cont-botton")
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    div(class="div-container-cuadro")
        div(class="cont-imag")
            img(src="https://image.freepik.com/vector-gratis/lenguajes-programacion-establecen-iconos_24877-761.jpg", alt="")
        div(class="cont-botton")
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    div(class="div-container-cuadro")
        div(class="cont-imag")
            img(src="https://image.freepik.com/vector-gratis/lenguajes-programacion-establecen-iconos_24877-761.jpg", alt="")
        div(class="cont-botton")
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
            button(mat-icon-button class="grade")
                mat-icon.icon grade
        div.contParr
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
